<h1>About</h1>
<p>
  This app is designed for the allotment of projects to the students who will register for CSCE 606 or CSCE 431. <br>
  The github repository to this project is <a href="https://github.com/Rubythons/Project-Collection-and-Assignment"> here.</a>	
</p>
